body{
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 400px;
}
input{
  width: 100%;
  border: 1px solid #5f9341;
  padding: 10px;
}
input:focus{
  outline: none;
  background-color: aquamarine;
}
button{
  padding: 5px;
  background-color: #5f9341;
  color: white;
  border: none;
  width: 20%;
  margin-top: 5px;
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
}

ul{
  margin-top: 15px;
  list-style-type: none;
  padding-left: 0;
}
li{
  margin: 5px;
}
a{
  color: #5f9341;
}